/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*begin design*/


*{
  box-sizing:border-box;
  padding:0;
  margin:0;
  max-width:100%;
}

.navbar  {
  font-family: 'Anton', sans-serif;
  color: whitesmoke;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #808080; 
  background: -moz-linear-gradient(top, #3f4c6b 0%, #606c88 100%); 
  background: -webkit-linear-gradient(top, #3f4c6b 0%,#606c88 100%); 
  background: linear-gradient(to bottom, #3f4c6b 0%,#606c88 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#606c88',GradientType=0 ); 
}

ul {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  justify-content: space-between;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: white;
  text-decoration: none;
}

.nav-quote {
  font-family: 'Anton', sans-serif;
  color: whitesmoke;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  /* text-align: center; */
  /* display: inline-block; */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}

.index body{
    background-color: lightgray;
    background-size: cover;
    background-position: absolute;
    background-repeat: no repeat;
    background-attachment: fixed;
} 

.intro {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: black;
  margin: 1rem 1rem 1rem 1rem;
  padding: 0;
  overflow: hidden;
}

hr {
  outline: 1px solid black;
}

.aboutpar { 
  font-size: 1.5rem;
  font-family: 'Anton', sans-serif;
  color: black;
  margin: 1rem 1rem 1rem 1rem;
  padding: 0;
  overflow: hidden;
}

.about {
  background-color: lightgray;
}

.aboutimg {
  display: flex;
  flex-direction: row;
}

.work {
  outline: solid 1px black;
  margin-top: 17rem;
  margin-left: .5rem;
  height: 30rem;
  width: 40rem;
}

.monday {
  font-size: 1.5rem;
  font-family: 'Anton', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.projects body{
  background-color: lightgray;
  background-size: cover;
  background-position: absolute;
  background-repeat: no repeat;
  background-attachment: fixed;
}

.icon {
  margin-top: 5rem;
  text-align: center;
}

.resume body{
  background-image: url("assets/bg\ resume\ page.jpg");
  background-size: cover;
  background-position: absolute;
  background-repeat: no repeat;
  background-attachment: fixed;
}

.container-proj-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Arvo', serif;
  color: whitesmoke;
  font-size: 30px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
      1px 1px 0 #000;  
  margin-bottom: 0;
  padding-bottom: 0; 
}

.playlist-links {
  font-family: 'Arvo', serif;
  text-align: center;
  color: whitesmoke;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
      1px 1px 0 #000;  
  margin-bottom: 0;
  padding-bottom: 1rem; 
}

.email {
  color: whitesmoke;
  text-decoration: none;
}

.phone {
  color: whitesmoke;
  text-decoration: none;
}

.form {
  text-align: center;
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  margin-top: 130px;
  margin-bottom: 130px;
  border-right: 100px;
  color: whitesmoke;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  list-style-type: none;
  overflow: hidden;
  background: #808080; 
  background: -moz-linear-gradient(top, #3f4c6b 0%, #606c88 100%); 
  background: -webkit-linear-gradient(top, #3f4c6b 0%,#606c88 100%); 
  background: linear-gradient(to bottom, #3f4c6b 0%,#606c88 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#606c88',GradientType=0 ); 
}

form div + div {
  margin-top: 25px;
}

.iframe {
  display: flex;
}

.resumeiframe {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  width: 150rem;
  height: 40rem;
}

.name {
    font-family: 'Arvo', serif;
    color: whitesmoke;
    font-size: 92px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;  
    margin-bottom: 0;
    padding-bottom: 0;  
}

.aboutme {
  font-family: 'Arvo', serif;
  color: whitesmoke;
  font-size: 22px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
      1px 1px 0 #000;  
  margin-bottom: 0;
  padding-bottom: 0;  
}

#trouble {
  text-align: center;
  background-color: #43506F;
  font-family: 'Arvo', serif;
  color: whitesmoke;
  font-size: 22px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
      1px 1px 0 #000;  
  margin-bottom: 0;
  padding-bottom: 0;  
}

  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  .button {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;

  }
  
  button {
    margin-left: .5em;
  }


  .aboutmepic {
    padding-top: .5rem;
  }

  .footer{
    display: relative;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: whitesmoke;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #808080; 
    background: -moz-linear-gradient(top, #3f4c6b 0%, #606c88 100%); 
    background: -webkit-linear-gradient(top, #3f4c6b 0%,#606c88 100%); 
    background: linear-gradient(to bottom, #3f4c6b 0%,#606c88 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#606c88',GradientType=0 ); 
  }

  .fa-github-square {
    color: #E94F32;
  }
  
  .fa-github-square:hover {
    color: #E94F32;
    opacity: .6;
  }

  .fa-linkedin-square {
    color:#0C61C0;
  }

  .fa-linkedin-square:hover {
    color:#0C61C0;
    opacity: .6;
  }

  .label-container{
    position:fixed;
    bottom:48px;
    right:105px;
    display:table;
    visibility: hidden;
  }
  
  .label-text{
    color:#FFF;
    background:rgba(51,51,51,0.5);
    display:table-cell;
    vertical-align:middle;
    padding:10px;
    border-radius:3px;
  }
  
  .label-arrow{
    display:table-cell;
    vertical-align:middle;
    color:#333;
    opacity:0.5;
  }
  
  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color: red;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
  }
  
  .my-float{
    font-size:24px;
    margin-top:18px;
  }
  
  a.float + div.label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
  }
  
  a.float:hover + div.label-container{
    visibility: visible;
    opacity: 1;
  }

  .demo {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }

  .demo-phone {
    display: none;
  }

  
.resume-phone {
  display: none;
}

/*slider*/

.mySlides {
  margin-left: 18rem;
  margin-top: 2rem;  
  outline: 1px solid black;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  height: 50%;
  width: 50%;
}

.phototext {
  font-weight: bold;
  text-align: center;
  padding-top: .5rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  top: 40%;
  font-weight: bold;
  font-size: 20px;
  margin-left: 35rem;
  user-select: none;
  -webkit-user-select: none;
}

.prev:hover,
.next:hover {
  opacity: 0.6;
}

.thumb {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden; 
  padding-bottom: 1rem;
  margin-left: 30rem;
  height: 50%;
  width: 50%;
}

/* Add a transparency effect for thumnbail images */
.slide {
  opacity: 0.6;
  outline: none;
  box-shadow: none;
  height: 8%;
  width: 16%;
}

.active,
.slide:hover {
  opacity: 1;
}

.prev-phone, .next-phone {
  display: none;
}



  /*---Media Queries --*/
@media (max-width: 1370px){
  .img {
    margin-left: 18rem;
  }

  .row {
    margin-left: 18rem;
  }

  .prev, .next {
    margin-left: 23rem;
  }

  .thumb {
    margin-left: 23rem;
  }
}

  @media (max-width: 800px) {
    .nav-quote {
      display: none;
    }

    .navbar ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-right: 8rem;
    }

    iframe {
      display: none;
    }

    form {
      display: flex;
      flex-direction: column;
      height: 15rem;
    }

    form div + div {
      margin-top: .2rem;
    }

    .resume-phone {
      display: flex;
      flex-direction: row;
      justify-content: center;
      /* text-align: center; */
      background-color: #43506F;
      font-family: 'Arvo', serif;
      color: whitesmoke;
      font-size: 22px;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
          1px 1px 0 #000;  
      margin-bottom: 0;
      padding-bottom: 0;  
    }

    .demo-phone {
      display: flex;
      flex-direction: row;
      justify-content: center;
      /* text-align: center; */
      background: #808080; 
    background: -moz-linear-gradient(top, #3f4c6b 0%, #606c88 100%); 
    background: -webkit-linear-gradient(top, #3f4c6b 0%,#606c88 100%); 
    background: linear-gradient(to bottom, #3f4c6b 0%,#606c88 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#606c88',GradientType=0 ); 
      font-family: 'Arvo', serif;
      color: whitesmoke;
      font-size: 22px;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
          1px 1px 0 #000;  
      margin-top: 1rem;
      margin-bottom: 0;
      padding-bottom: 0; 
    }

    .demo {
      display: none;
    }

    #trouble {
      display: none;
    }

    .container-proj-links {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 10rem;
    }

    hr {
      display: none;
    }

    .prev, .next {
      margin-left: 12rem;
    }

    .img {
      margin-left: 11.5rem;
    }

    .column {
      display: none;
    }

    .aboutimg {
      display: flex;
      flex-direction: column;
    }

    .intro {
      font-size: 2rem;
    }

    .aboutpar {
      font-size: 1rem;
    }

    .monday {
      font-size: 1rem;
    }

    .work {
      display: none;
    }
}

  @media (max-width: 500px) {
    .nav-quote {
      display: none;
    }

      .navbar ul{
        font-size: 1rem;
        margin-right: 4rem;
      }

      .demo-phone {
        font-size: 1rem;
        padding-right: 4.4rem;
        background: #808080; 
    background: -moz-linear-gradient(top, #3f4c6b 0%, #606c88 100%); 
    background: -webkit-linear-gradient(top, #3f4c6b 0%,#606c88 100%); 
    background: linear-gradient(to bottom, #3f4c6b 0%,#606c88 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#606c88',GradientType=0 ); 
      }

      .playlist-links h1{
        font-size: 1rem;
        margin-right: 4rem;
      }

      .playlist-links h3{
        font-size: 1rem;
        margin-right: 4rem;
      }

      .container-proj-links {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
      }

      .container-proj-links img {
        display: none;
      }

      .float {
        display: none;
      }

      .footer {
        padding-right: 4.4rem;
      }

      .icon {
        margin-right: 4.4rem;
        margin-bottom: 2rem;
      }
  }

  @media (max-width: 365px){
    .icon {
      padding-left: 4rem;
    }

    .footer {
      padding-left: 4rem;
    }

    .resume-phone p {
      padding-right: 2rem;
    }

    .mySlides {
     margin-left: 5rem;
  }

  .thumb {
    display: none;
  }
  .prev, .next span {
    display: none;
  }

  .prev-phone, .next-phone {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10.5rem;
  }

  .prev, .next {
    display: none;
  }
}

@media (max-width: 415px) {
  .icon, .footer {
    padding-left: 5rem;
  }

  .demo-phone p, .resume-phone p {
    margin-left: 7rem;
  }

  .demo-phone {
    background: #808080; 
    background: -moz-linear-gradient(top, #3f4c6b 0%, #606c88 100%); 
    background: -webkit-linear-gradient(top, #3f4c6b 0%,#606c88 100%); 
    background: linear-gradient(to bottom, #3f4c6b 0%,#606c88 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#606c88',GradientType=0 ); 
  }

  .mySlides {
    margin-left: 6rem;
  }

  .thumb {
    display: none;
  }
  .prev, .next span {
    display: none;
  }

  .prev-phone, .next-phone {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 20px;
    margin-left: 12.5rem;
  }

  .prev, .next {
    display: none;
  }

  .form {
    margin-right: 6px;
    border-right: solid 1px white;
  }
}

@media (max-width: 325px) {
  .prev-phone, .next-phone {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10.5rem;
  }
}

@media (max-width: 380px) {
  .prev-phone, .next-phone {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 20px;
    margin-left: 11.5rem;
  }

  .demo-phone {
    background: #808080; 
    background: -moz-linear-gradient(top, #3f4c6b 0%, #606c88 100%); 
    background: -webkit-linear-gradient(top, #3f4c6b 0%,#606c88 100%); 
    background: linear-gradient(to bottom, #3f4c6b 0%,#606c88 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#606c88',GradientType=0 ); 
  }

  .form {
    margin-right: 6px;
    border-right: solid 1px white;
  }
}

@media (max-width: 770px) {
  .mySlides {
    margin-left: 5rem;
 }

 .thumb {
   display: none;
 }
 .prev, .next span {
   display: none;
 }

 .prev-phone, .next-phone {
   display: flex;
   flex-direction: row;
   font-weight: bold;
   font-size: 20px;
   margin-left: 17.5rem;
 }

 .prev, .next {
   display: none;
}

@media (max-width: 1030px) {
  .mySlides {
    margin-left: 5rem;
 }

 .thumb {
   display: none;
 }
 .prev, .next span {
   display: none;
 }

 .prev-phone, .next-phone {
   display: flex;
   flex-direction: row;
   font-weight: bold;
   font-size: 20px;
   margin-left: 17.5rem;
 }

 .prev, .next {
   display: none;
}
}
  
  /* @media (max-width: 767.98px) {
    .nav-quote {
      display: none;
  }
  @media (max-width: 575.98px) {
    .nav-quote {
      display: none;
  } */
  
  /*
  // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
  */